.user-reviews {
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(228, 226, 226);;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.user-box {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(184, 174, 174);
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgb(165, 208, 230);
}
.user-inf-area {
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid rgb(184, 174, 174);
}
.user-name {
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: "Arial";
}
.user-name p {
    margin-left: 20px;
    font-size: 20px;
}
.user-stars-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start; 

}
.user-star-give-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start; 
}
.star-rating {
    margin-left: 0px;
    padding: 10px;
}
.star-rating span {
    transition: scale 0.2s ease-in-out;
}
.star-rating span:hover {
    scale: 1.1;
}
.user-stars-area span {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
} 

.user-review-area {
    flex: 1;
    display: flex;
    align-items: start;
}
.user-review-area p {
    margin: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-family: "Arial";
}

.leave-rev-head {
    font-family: "Arial";
    font-size: 30px;
}
.review-main-area {
    height: fit-content;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(184, 174, 174);
}
.review-section {
    padding: 30px;
}
.stars-area {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid rgb(184, 174, 174);
}

.rev-stars {
    font-size: 30px;
    margin-left: 30px;
}
.stars-area p {
    font-family:  "Arial";
    margin-left: 40px;
    font-size: 20px;
    margin-bottom: 15px;
}
.sugg-area {
    width: 100%;
    padding: 10px; 
    height: fit-content;
    display: flex;
    align-items: center;

}
.sugg-area h2 {
    margin: 0px;
    margin-left: 0px;
    font-family: "Arial";
}
.give-rev-area {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.give-rev-area textarea {
    /* margin: 30px;
    height: 175px;
    width: 95%;
    font-size: 18px;
    margin-bottom: 20px; */
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    height: 175px;
    resize: none;
}
.give-rev-area button {
    margin-left: 0px;
    width: 100px;
    height: 50px;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .stars-area {
        flex-direction: column;
        height: fit-content;
        justify-content: center;
    }
    .stars-area p {
        margin-left: 0px;
    }
    .stars-area span {
        margin-left: 0px;
    }
    .sugg-area {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .user-inf-area {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .user-name p {
        margin-left: 0px;
    }
    .user-stars-area {
        justify-content: left;
    }
    .user-stars-area span {
        margin-left: 10px;
    }
}


@media screen and (max-width: 450px) {
    .stars-area {
        flex-direction: column;
        height: fit-content;
        justify-content: center;
    }
    .stars-area p {
        margin-left: 0px;
    }
    .stars-area span {
        margin-left: 0px;
    }
    .sugg-area {
        font-size: 12px;
    }
}


@media screen and (max-width: 450px) {
    .user-stars-area {
        margin-left: 10px;
    }
    .user-stars-area span {
        margin: 0px;
    }
    .user-inf-area {
        padding: 10px;
    }
    .user-name {
        width: fit-content;
        height: 30px;
    }
}
