section {
    margin-top: 50px;
    flex-grow: 1;
    width: 100%;
    height: 350px;
    background-color: rgb(230, 252, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 75%;
    flex-direction: column;
}
.main-area h1 {
    font-family: "Arial";
    font-size: 50px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-area p {
    font-family: "Arial";
    margin-top: 20px;
}

.main-area div {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area div input {
    width: 550px;
    height: 60px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.main-area div button {
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-family: "Arial";
    border: none;
    color: white;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(106, 106, 236);
    margin-top: 0px;
    margin-bottom: 2px;
}
.main-area div button img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 1245px) {
    .main-area {
        width: 100%;
    }
    section {
        height: 400px;
    }
    .main-area h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 885px) {
    .main-area {
        width: 100%;
    }
    section {
        height: 400px;
    }
    .main-area h1 {
        font-size: 35px;
    }
    .main-area p {
        width: 500px;
        text-align: center;
    }
    .main-area div input {
        height: 40px;
    }
    .main-area div button {
        height: 40px;
    }
}

@media screen and (max-width: 670px) {
    .main-area {
        width: 100%;
    }
    section {
        height: 400px;
    }
    .main-area h1 {
        font-size: 35px;
        width: 400px;
        text-align: center;
    }
    .main-area p {
        width: 500px;
        text-align: center;
    }
    .main-area div input {
        height: 40px;
        width: 300px;
    }
    .main-area div button {
        height: 40px;
        margin: 0;
        margin-top: 4px;
    }
}


@media screen and (max-width: 550px) {
    .main-area {
        width: 100%;
    }
    section {
        height: 400px;
    }
    .main-area h1 {
        font-size: 25px;
        width: 400px;
        text-align: center;
    }
    .main-area p {
        width: 400px;
        font-size: 15px;
        text-align: center;
    }
    .main-area div input {
        height: 40px;
        width: 300px;
    }
    .main-area div button {
        height: 40px;
    }
}


@media screen and (max-width: 430px) {
    .main-area {
        width: 100%;
    }
    section {
        height: 400px;
    }
    .main-area h1 {
        font-size: 25px;
        width: 300px;
        text-align: center;
    }
    .main-area p {
        width: 300px;
        font-size: 15px;
        text-align: center;
    }
    .main-area div input {
        height: 35px;
        width: 170px;
        font-size: 18px;
    }
    .main-area div button {
        height: 35px;
        width: 90px;
        margin-top: 3px;
    }
}